__pycache__/
*.py[cod]
*.pyd
.Python
.env
env/
venv/
.venv/
pip-wheel-metadata/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
*.log

# Docker
.dockerignore
*.tar
*.tar.gz

# Kubernetes
.kube/
*.kubeconfig
*.secret.yaml
*.secrets.yaml
*.cert
*.key
*.pem
*.p12
*.crt
*.k8s.yaml
*.k8s.yml
cosign.exe